.WIC {
    float: right;
    margin-right: 32.5rem;
}
.Cube {
    width: 15%;
    height: 30%;
    float: left;
    margin-left: 5rem;
}
.Erno {
    width: 15%;
    height: 30%;
    float: left;
    margin-left: -16.5rem;
    margin-top: 11rem;
}
.Ernotext {
    float: right;
    margin-top: 2rem;
    margin-right: 42.5rem;
}
footer {
    font-size: small;
}
#about {
    box-shadow: 0px 2px 0px 0px white;
}