#blueimg {
    width: 10%;
    height: 20%;
    margin-left: 2rem;
    margin-top: 1rem;
}
#greenimg {
    width: 10%;
    height: 20%;
    margin-left: 2rem;
}
#crossimg {
    width: 15%;
    height: 30%;
    margin-right: 10rem;
    margin-top: 6rem;
    float: right;
}
#Cross {
    margin-left: 20rem;
    margin-top: -18rem;
}
#crosstext {
    margin-left: 20rem;
}
