article {
    height: 280%;;
}
#guide {
    box-shadow: 0px 2px 0px 0px white;
}
#crossimg {
    width: 10%;
    height: 17%;
    margin-right: 10rem;
    margin-top: 6rem;
    float: right;
}
#g-alg {
    margin-left: 11rem;
}
#Cross {
    margin-left: 10rem;
}
#crosstext {
    margin-left: 10rem;
}
#go-back {
	font-weight: var(--fw-bold);
}
#F2L-div {
	margin-left: 10rem;
	margin-top: 2rem;
}
#f2l-photo {
    float: right;
    margin-right: 10rem;
    margin-top: 3rem;
    width: 11%;
    height: 25%;
}
#wcross-text {
    float: right;
    margin-top: 16rem;
    margin-right: -8.5rem;
}
#F2L-text {
    float: right;
    margin-top: 11.5rem;
    margin-right: -7rem;
}
#F2L-photo {
    width: 10%;
    height: 15%;
}