#logbook {
    box-shadow: 0px 2px 0px 0px white;
}
#log-book {
	margin-left: 5rem;
}
#trello {
	font-size: var(--fs-h3);
	font-weight: var(--fw-bold);
	float: right;
	margin-right: 16rem;
}
#miro {
	float: right;
	margin-right: -22rem;
	margin-top: 4rem;
}
#logbook-text {
	float: left;
	font-size: var(--fs-h2);
}